
/app/myapp/__pycache__
/app/myapp/api/__pycache__/*
/app/myapp/core/__pycache__/*
/app/myapp/services/__pycache__/*
*/__pycache__/*
/app/myapp/.idea/.gitignore
/app/myapp/.idea/inspectionProfiles/profiles_settings.xml
/app/myapp/.idea/misc.xml
/app/myapp/.idea/modules.xml
/app/myapp/.idea/myapp.iml
/app/myapp/.idea/vcs.xml
/app/application/__pycache__
/app/application/__pycache__
/app/application/api/__pycache__/*
/app/application/core/__pycache__/*
/app/application/services/__pycache__/*
*/__pycache__/*
/app/application/.idea/.gitignore
/app/application/.idea/inspectionProfiles/profiles_settings.xml
/app/application/.idea/misc.xml
/app/application/.idea/modules.xml
/app/application/.idea/myapp.iml
/app/application/.idea/vcs.xml

.DS_Store